<div class="col-10 offset-1 about">
  <h1>About Cornell Crushes</h1>
  <p>
    Cornell Crushes started out as... It was built by <a target="_blank" href="">Jason</a> & <a target="_blank" href="">Iliana</a>. Two web developers who are on a mission to give people the chance to profess their love. 
  </p>
  <br />
  <p>
    Together, they... 
  </p>
  <p>
    If you want to learn how to contribute...
  </p>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />