

<% @confession.each do |confession| %>
  <tr>
  	<h2>
  <span>No. <%= confession.id %> on <%= confession.created_at.strftime("%Y-%m-%d")%> </span>
  	<h1><%= confession.saying %></h1>
    <h2><%= confession.author %></h2>

  </tr>
  <br>
<% end %>