<h1>Dare to confess?</h1>
<%= simple_form_for @confession do |c| %>
  <%= c.input :saying, placeholder: "I confess..." %>
  <%= c.input :author, placeholder: "Anonymous" %>
  <%= c.submit 'Create', class: 'btn btn-danger' %>
<% end %>